In [13]:
import warnings
import pandas as pd
import numpy as np

warnings.filterwarnings('ignore')

### Điền khuyết bằng mean

In [15]:
# Tạo DataFrame mẫu với một số giá trị bị khuyết
data = {
    'A': [1, 2, 'null', 4, 5],
    'B': [np.nan, 2, 3, 4, 'unknown'],
    'C': [1, 2, 3, np.nan, 5]
}

df = pd.DataFrame(data)
print("Dữ liệu ban đầu:")
print(df)

# Chuyển các giá trị khuyết về NaN
df.replace(['unknown', 'null', 0], np.nan, inplace=True)

# Điền khuyết bằng mean của từng cột
df_filled = df.fillna(df.mean())

print("\nDữ liệu sau khi điền khuyết bằng mean:")
print(df_filled)

Dữ liệu ban đầu:
      A        B    C
0     1      NaN  1.0
1     2        2  2.0
2  null        3  3.0
3     4        4  NaN
4     5  unknown  5.0

Dữ liệu sau khi điền khuyết bằng mean:
     A    B     C
0  1.0  3.0  1.00
1  2.0  2.0  2.00
2  3.0  3.0  3.00
3  4.0  4.0  2.75
4  5.0  3.0  5.00

### Điền khuyết bằng median

In [16]:
# Tạo DataFrame mẫu với một số giá trị bị khuyết
data = {
    'A': [1, 2, 'null', 4, 5],
    'B': [np.nan, 2, 3, 4, 'unknown'],
    'C': [1, 2, 3, np.nan, 5]
}

df = pd.DataFrame(data)
print("Dữ liệu ban đầu:")
print(df)

# Chuyển các giá trị khuyết về NaN
df.replace(['unknown', 'null', 0], np.nan, inplace=True)

# Điền khuyết bằng mean của từng cột
df_filled = df.fillna(df.median())

print("\nDữ liệu sau khi điền khuyết bằng mean:")
print(df_filled)

Dữ liệu ban đầu:
      A        B    C
0     1      NaN  1.0
1     2        2  2.0
2  null        3  3.0
3     4        4  NaN
4     5  unknown  5.0

Dữ liệu sau khi điền khuyết bằng mean:
     A    B    C
0  1.0  3.0  1.0
1  2.0  2.0  2.0
2  3.0  3.0  3.0
3  4.0  4.0  2.5
4  5.0  3.0  5.0

In [24]:
import pandas as pd
import numpy as np

# Đặt seed để đảm bảo tính ngẫu nhiên có thể tái lập
np.random.seed(0)

# Tạo dữ liệu mẫu về thu nhập và các cột bổ sung
income_data = {
    'Income': np.concatenate([
        np.random.normal(50000, 10000, 1000),  # Thu nhập trung bình của phần lớn người dân
        np.random.normal(200000, 20000, 10),   # Nhóm thu nhập cao
        np.random.normal(10000, 5000, 10)      # Nhóm thu nhập thấp
    ]),
    'Age': np.concatenate([
        np.random.randint(20, 60, 1000),   # Độ tuổi của phần lớn người dân
        np.random.randint(30, 50, 10),     # Độ tuổi nhóm thu nhập cao
        np.random.randint(18, 30, 10)      # Độ tuổi nhóm thu nhập thấp
    ]),
    'Education_Level': np.concatenate([
        np.random.choice(['High School', 'Bachelor', 'Master'], 1000, p=[0.4, 0.5, 0.1]),
        np.random.choice(['Master', 'PhD'], 10, p=[0.3, 0.7]),  # Trình độ học vấn nhóm thu nhập cao
        np.random.choice(['High School', 'Associate'], 10, p=[0.7, 0.3])  # Trình độ học vấn nhóm thu nhập thấp
    ]),
    'Employment_Status': np.concatenate([
        np.random.choice(['Employed', 'Unemployed', 'Self-employed'], 1000, p=[0.8, 0.1, 0.1]),
        np.random.choice(['Employed', 'Self-employed'], 10, p=[0.6, 0.4]),  # Nhóm thu nhập cao
        np.random.choice(['Unemployed', 'Employed'], 10, p=[0.7, 0.3])  # Nhóm thu nhập thấp
    ]),
    'Marital_Status': np.concatenate([
        np.random.choice(['Single', 'Married', 'Divorced'], 1000, p=[0.5, 0.4, 0.1]),
        np.random.choice(['Married', 'Single'], 10, p=[0.8, 0.2]),  # Nhóm thu nhập cao
        np.random.choice(['Single', 'Divorced'], 10, p=[0.9, 0.1])  # Nhóm thu nhập thấp
    ])
}

df = pd.DataFrame(income_data)

print("Dữ liệu mở rộng với các cột bổ sung:")
df.head(10)

Dữ liệu mở rộng với các cột bổ sung:

         Income  Age Education_Level Employment_Status Marital_Status
0  67640.523460   48     High School          Employed         Single
1  54001.572084   34        Bachelor          Employed        Married
2  59787.379841   34        Bachelor          Employed         Single
3  72408.931992   36     High School          Employed         Single
4  68675.579901   55        Bachelor     Self-employed         Single
5  40227.221201   58        Bachelor          Employed        Married
6  59500.884175   47        Bachelor          Employed         Single
7  48486.427917   58        Bachelor        Unemployed        Married
8  48967.811482   43     High School          Employed         Single
9  54105.985019   40          Master          Employed         Single